
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 221 30% 98%;
    --foreground: 221 75% 10%;
    --card: 0 0% 100%;
    --card-foreground: 221 75% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 221 75% 10%;
    --primary: 221 75% 16%;
    --primary-foreground: 0 0% 98%;
    --secondary: 221 20% 92%;
    --secondary-foreground: 221 75% 16%;
    --muted: 221 20% 96.1%;
    --muted-foreground: 221 20% 45.1%;
    --accent: 337 75% 96%;
    --accent-foreground: 221 75% 16%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 221 20% 89.8%;
    --input: 221 20% 89.8%;
    --ring: 221 75% 16%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 221 68% 9%;
    --foreground: 221 20% 98%;
    --card: 221 68% 12%;
    --card-foreground: 221 20% 98%;
    --popover: 221 68% 9%;
    --popover-foreground: 221 20% 98%;
    --primary: 222 40% 88%;
    --primary-foreground: 221 68% 9%;
    --secondary: 221 30% 15%;
    --secondary-foreground: 221 20% 98%;
    --muted: 221 30% 15%;
    --muted-foreground: 221 20% 63.9%;
    --accent: 0 0% 75%;
    --accent-foreground: 221 68% 9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 221 30% 18%;
    --input: 221 30% 18%;
    --ring: 222 40% 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground transition-colors duration-500;
  }
}

.font-headline {
  font-family: 'Belleza', sans-serif;
}

.font-body {
  font-family: 'Alegreya', serif;
}
